.row {
  margin-bottom: 30px;
  margin-top: 30px;
}

.jumbotron  {
  background-image: url("../img/pattern.png"); 
  color: darkblue;
  padding-top:3px;
  padding-bottom: 3px;
}
.back {
  background-color: white;
}

h1, h2, h3 {
  font-family: 'Gabriela', serif !important;
}
h2{
  color: blue;
}
h3{
  color: red;
}
.info {
  color: blue;
}
.ornam img{
  margin-top: 10px;
}
.story{
  margin-top: 30px;
  margin-bottom: 30px;
  font-style: italic;
}
.w3-button{
  position: relative;
  top: -50px;
  margin-bottom: -50px;
  padding: 10px;
}
.cards img{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  margin-bottom: 30px;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
span {
  color:red;
  font-weight: bold;
}
#accordion h3 {
  color: blue;
}
img {
  margin-bottom: 5px !important;
}

@media screen 
and (min-width : 240px)
and (max-width : 780px) {
     h4  {
      font-size: 15px;
          }
}